<h1>SIGN UP</h1>
<div class="col-md-8 col-md-offset-2">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <!-- Nome -->
    <br/>
    <div class="form-group">
      <label for="firstName">Nome:</label><br/>
      <input type="text" id="firstName" class="form-control" formControlName="firstNameTS">
    </div>
    @if(myForm.get('firstNameTS')?.errors?.['required'] && myForm.get('firstNameTS')?.touched){
        <div><p style="color: red;">NOME OBRIGATÓRIO</p></div>
    }
    <br/>
    <!-- Sobrenome -->
    <div class="form-group">
      <label for="lastName">Sobrenome:</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastNameTS">
    </div>
    @if(myForm.get('lastNameTS')?.errors?.['required'] && myForm.get('lastNameTS')?.touched){
        <div><p style="color: red;">SOBRENOME OBRIGATÓRIO</p></div>
    }
    @if(myForm.get('lastNameTS')?.errors?.['minlength'] && myForm.get('lastNameTS')?.touched){
        <div><p style="color: red;">SOBRENOME DEVE CONTER NO MÍNIMO 4 CARACTERES</p></div>
    }
    @if(myForm.get('lastNameTS')?.errors?.['maxlength'] && myForm.get('lastNameTS')?.touched){
        <div><p style="color: red;">SOBRENOME DEVE TER NO MÁXIMO 16 CARACTERES</p></div>
    }
    <br/>
    <!-- Email -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control" formControlName="emailTS">
    </div>
    @if(myForm.get('emailTS')?.errors?.['required'] && myForm.get('emailTS')?.touched){
        <div><p style="color: red;">EMAIL OBRIGATÓRIO</p></div>
    }
    @if(myForm.get('emailTS')?.errors?.['pattern'] && myForm.get('emailTS')?.touched){
        <div><p style="color: red;">EMAIL INVÁLIDO</p></div>
    }
    <br/>
    <!-- Senha -->
    <div class="form-group">
      <label for="pass">Senha:</label>
      <input type="password" id="pass" class="form-control" formControlName="passwordTS">
    </div>
    @if(myForm.get('passwordTS')?.errors?.['required'] && myForm.get('passwordTS')?.touched){
        <div><p style="color: red;">SENHA OBRIGATÓRIA</p></div>
    }
    <br/>
    <!-- Gênero -->
    <div class="form-group">
      <label>Gênero:</label>
      <div>
        <label style="margin-top: 5px;">
          <input type="radio" formControlName="genderTS" value="male"> Masculino
        </label>
        <label style="margin-left: 10px;">
          <input type="radio" formControlName="genderTS" value="female"> Feminino
        </label>
        <label style="margin-left: 10px;">
          <input type="radio" formControlName="genderTS" value="other"> Outros
        </label>
      </div>
    </div>
    @if(myForm.get('genderTS')?.errors?.['required'] && myForm.get('genderTS')?.touched){
        <div><p style="color: red;">GÊNERO OBRIGATÓRIO</p></div>
    }

    <br/>
    <!-- Estado Civil -->
    <div class="form-group">
      <label for="civilStatus">Estado Civil:</label>
      <select id="civilStatus" class="form-control" formControlName="civilStatusTS">
        <option value="">Selecione</option>
        <option value="single">Solteiro(a)</option>
        <option value="married">Casado(a)</option>
        <option value="divorced">Divorciado(a)</option>
        <option value="widowed">Viúvo(a)</option>
      </select>
    </div>
    @if(myForm.get('civilStatusTS')?.errors?.['required'] && myForm.get('civilStatusTS')?.touched){
        <div><p style="color: red;">ESTADO CIVIL OBRIGATÓRIO</p></div>
    }
    <br/>
    <!-- Foto de Perfil -->
    <div class="form-group">
      <label for="profilePicture">Foto de Perfil (URL):</label>
      <input type="text" id="profilePicture" class="form-control" formControlName="profilePictureTS">
    </div>

    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="termsAcceptedTS"> Eu aceito os Termos de Uso para me dedicar a programação
      </label>
    </div>

    @if(myForm.get('termsAcceptedTS')?.errors?.['requiredTrue'] && myForm.get('termsAcceptedTS')?.touched){
      <div><p style="color: red;">Você deve aceitar os Termos de Uso para continuar</p></div>
    }
    <br/>
    <!-- Botão de Enviar -->
    <br/>
    <button class="btn btn-primary" type="submit" [disabled]="!myForm.valid">Cadastrar</button>
  </form>
</div>
