<h1>SIGN IN</h1>
<div class="container mt-4">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group mb-3">
      <label for="email">Email:</label>
      <input type="email" id="email" class="form-control w-50" [(ngModel)]="email" name="email" required>
    </div>
    <div class="form-group mb-3">
      <label for="password">Password:</label>
      <input type="password" id="password" class="form-control w-50" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign In</button>
  </form>
</div>
